/***INDEX***/
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;700&family=Roboto:wght@400;500;900&family=Yesteryear&display=swap');


    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    list-style: none;
}

body{
    font-family: 'Roboto', sans-serif;
}

.container{
    max-width: 1200px;
    margin: 0;
}


.tituloviaje{
    background-image: linear-gradient(rgba(31, 97, 86, 0.5), rgba(31, 97, 86, 0.5)),url(../img/piramides.jpg);
    background-position: center bottom;
    background-repeat: no-repeat;
    background-size: cover;
    min-height: 100vh;
    display: flex;
    text-align: center;
}

.menu{
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    display: flex;
    align-items: center;
    justify-content: space-between;

}

.header-content h1{
    font-size: 75px;
    font-weight: bold;
    line-height: 80px;
    color: white;
    margin-top: 35px;
    margin-bottom: 35px;
    text-align: center;

    justify-content: center;
    justify-self: center;
}

.header-content p{
    font-size: 22px;
    font-weight: bold;
    color: white;
    padding: 200px px;
    margin-top: 15px;
    margin-bottom: 25px;
    text-align: center;
    background-color: rgb(31, 97, 86);

}

.primero{
    text-align: center;
}

.btn-1{
    display: inline-block;
    padding: 11px 35px;
    background-color: rgb(31, 97, 86);
    text-transform: uppercase;
    border-radius: 10px;
    text-decoration: none;
    color: white;
    text-align: center;
}

.btn-1:hover{
    background-color:  rgb(143, 11, 11);
    color: white;
    font-weight:bold;
}
.fotoinicionav{
    width:auto;
    height: 100px;
}

.viaje{
    padding: 100px;
    background-image: linear-gradient(to top, #c1dfc4 0%, #deecdd 100%);
    position: relative;
}

.viaje-content{
    text-align: center;
}

.viaje-content h2{
    font-size: 55px;
    font-weight: 900;
    line-height: 70px;
    color: rgba(0, 0, 0, 0.884);
    text-transform: uppercase;
    padding: 0 250px;
    margin-bottom: 15px;
}

.txt-p{
    font-size: 26px;
    font-weight: 600;
    color: rgba(0, 0, 0, 0.884);
    padding: 0 250px;
    margin-bottom: 35px;
}

.viaje-group{
    display: flex;
    justify-content: space-between;
    margin-bottom: 50px;
}

.viaje-1{
    padding: 0 25px;
}

.viaje-1 img{
    width: 250px;
    height: 250px;
    border-radius: 900px;
}

.viaje-img{
    position: absolute;
    top: 0;
    right: 0;
    width: 250px;
    height: 200px;
}

.viaje-1 h3{
    color: rgba(0, 0, 0, 0.884);
    font-size: 24px;
    margin-top: 15px;
    margin-bottom: 15px;
    font-weight: bold;
}

.general{
    display: flex;
}

.general-1{
    width: 50%;
    padding: 100px 250px 100px 100px;
    background-color: white;
}

.general-1 h2{
    font-weight: 900;
    font-size: 30px;
}

.general-1 p{
    font-size: 16px;;
}

.general-2 {
    background-image: url(../img/japon5.jpg);
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
    width: 50%;
}

.general-3 {
    background-image: url(../img/china1.jpg);
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
    width: 50%;
}

.logoinicio{
    padding-left: 6rem;
    margin: 5px auto;
}

@media(max-width: 768px){
    .hero{
        background-color: white;
    }
    .cuadros{
        grid-template-columns: 1fr 1.5fr;
        grid-template-rows: 1fr 1fr;
        grid-template-areas: 
            "hero"
            "hero2";
    }
}

.fotoinicionav{
    width:auto;
    height: 100px;
}

/***DESTINOS***/

.py-5{
    background-image: linear-gradient(to top, #c1dfc4 0%, #deecdd 100%);;
}
.card-img-top{
    height: 250px;
    width: 355px;;
}
.btn{
    background-color: rgb(30, 95, 84);
    color: white;
    justify-content: center;
}

.btn:hover {
    background: rgb(143, 11, 11);
    color: white;
    font-weight: bold;
}

.navbar-brand{
    font-weight: bold;
}

.carousel-item {
    height: 300px;
    width: 500px;
}

.carousel-item-active{
    height: 300px;
    width: 500px;
}

.card-title{
    font-weight: bold;
}

.btn-primary{
    font-weight: bold;
}

.tituloinicial{
    background-color: rgba(255, 255, 255, 0.801);
    padding-top: 5px;
}

.textoinicial{
    color: red;
    justify-content: lefts;
}
.promociones, .nosotros, .destinos, .contacto{
    background-color: rgb(30, 95, 84);
    color: white;
    border-radius: 10px;
    justify-content: center;
    box-shadow: 2px 2px 5px rgb(75, 73, 73)
}
.nosotros2{
    background-color: rgb(30, 95, 84);
    color: white;
    border-radius: 10px;
    box-shadow: 2px 2px 5px rgb(75, 73, 73)
}

/***PROMOCIONES***/

.promocionescard{
    width: 100%;
    display:flex;
    gap: 80px;
    flex-wrap: wrap;
    justify-content: center;
}
.promocionescardperfil1, .promocionescardperfil2, .promocionescardperfil3, .promocionescardperfil4, .promocionescardperfil5, .promocionescardperfil6 {
    width: 400px;
    padding: 20px;
    box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.452);
    border: solid rgba(3, 133, 255, 0) 2px;
    border-radius: 10px;
    font-family: roboto;
    font-family: 20px;
    background: linear-gradient(to bottom, rgba(30,95,84,1) 0%, rgba(255,255,255,1) 50%);
}

.promocionescardperfil1, .promocionescardperfil2{
    -webkit-animation: scale-up-center 0.4s cubic-bezier(0.390, 0.575, 0.565, 1.000) both;
	        animation: scale-up-center 0.4s cubic-bezier(0.390, 0.575, 0.565, 1.000) both;
}

@-webkit-keyframes scale-up-center {
    0% {
      -webkit-transform: scale(0.5);
              transform: scale(0.5);
    }
    100% {
      -webkit-transform: scale(1);
              transform: scale(1);
    }
  }
  @keyframes scale-up-center {
    0% {
      -webkit-transform: scale(0.5);
              transform: scale(0.5);
    }
    100% {
      -webkit-transform: scale(1);
              transform: scale(1);
    }
  }

.promocionescardperfil3, .promocionescardperfil4{
    -webkit-animation: scale-up-center 0.7s cubic-bezier(0.390, 0.575, 0.565, 1.000) both;
	        animation: scale-up-center 0.7s cubic-bezier(0.390, 0.575, 0.565, 1.000) both;
}
.promocionescardperfil5, .promocionescardperfil6{
    -webkit-animation: scale-up-center 1s cubic-bezier(0.390, 0.575, 0.565, 1.000) both;
	        animation: scale-up-center 1s cubic-bezier(0.390, 0.575, 0.565, 1.000) both;
}
.promocionesfoto{
    width: 250px;
    border-radius: 3%;
    box-shadow: 2px 2px 5px rgb(216, 216, 216);
}
.promocionescardnombre{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 5px;
    font-family: roboto;
    font-size: 20px;
}

.promocionescardtitulo{
    padding-bottom: 0;
}
.promocionescarddescription1{
    font-weight: bold;
    font-size: 16px;;
}
hr{
    width: 100%;
    height: 1px;
    background: rgb(221, 221, 221);
    margin: 20px 5px;
}
.promocionescardbutton{
    text-align: center;
}
.promocionesenlace{
    background:rgb(15, 73, 160);
    padding: 8px 20px;
    color: white;
    text-decoration: none;
    font-family: roboto, bold;
}

/***NOSOTROS***/

.nosotrostexto{
    font-family: roboto;
    text-align: justify;
    font-size: 16px;
}
.nosotrospunto{
    letter-spacing: px;
    font-family: roboto;
    font-size: 16px;
}
.nosotrostitulo{
    font-weight: bold;
}

.img-fluid{
    box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.452);
    border: solid rgba(3, 133, 255, 0) 2px;
}
/***CONTACTO***/

.container5{
    display: grid;
    height: 100vh;
    width: 100%;
    gap: 2rem;
    padding: 1rem;
    padding-bottom: 2rem;
    background-image: linear-gradient(to top, #c1dfc4 0%, #deecdd 100%);
    grid-template-columns: 1fr 1fr 1fr;
    grid-auto-rows: 1fr 1fr;
    grid-template-areas: 
        "header-contacto header-contacto header-contacto"
       "section-uno   section-uno  section-dos";
}

.titulocontacto{
    grid-area: header-contacto;
    background-image: linear-gradient(to top, #c1dfc4 0%, #deecdd 100%);
    padding: 1rem;
    gap: 1rem;
}


.section-uno{
    grid-area: section-uno;
    
}

.section-dos{
    grid-area: section-dos;

}
.mapa{
    height: 20px;
    width: 100%;
}

@media (max-width: 780px){

    .container5{
        grid-template-columns: 1fr ;
        grid-template-rows: 1fr 1fr;
        grid-template-areas:
         "section-uno"
         "section-dos";
    }
}

@media (min-width: 450px) and (max-width:779px){
    .container5{
        grid-template-columns: 1fr;
        grid-template-rows: 1fr 1fr 1fr;
        grid-template-areas:
        "header-contacto"
        "section-uno"
        "section-dos";
    }
    .mapa{
        height: 0.5px;
        width: 100px;
    }
}