@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;700&family=Roboto:wght@400;500;900&family=Yesteryear&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;700&family=Roboto:wght@400;500;900&family=Yesteryear&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;700&family=Roboto:wght@400;500;900&family=Yesteryear&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;700&family=Roboto:wght@400;500;900&family=Yesteryear&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;700&family=Roboto:wght@400;500;900&family=Yesteryear&display=swap");
.container5 {
  display: grid;
  height: 100vh;
  width: 100%;
  gap: 2rem;
  padding: 1rem;
  padding-bottom: 2rem;
  background-image: linear-gradient(to top, #c1dfc4 0%, #deecdd 100%);
  grid-template-columns: 1fr 1fr 1fr;
  grid-auto-rows: 1fr 1fr;
  grid-template-areas: "header-contacto header-contacto header-contacto" "section-uno   section-uno  section-dos";
}

.titulocontacto {
  grid-area: header-contacto;
  background-image: linear-gradient(to top, #c1dfc4 0%, #deecdd 100%);
  padding: 1rem;
  gap: 1rem;
}

.section-uno {
  grid-area: section-uno;
}

.section-dos {
  grid-area: section-dos;
}

.mapa {
  height: 20px;
  width: 100%;
}

@media (max-width: 780px) {
  .container5 {
    grid-template-columns: 1fr;
    grid-template-rows: 1fr 1fr;
    grid-template-areas: "section-uno" "section-dos";
  }
}
@media (min-width: 450px) and (max-width: 779px) {
  .container5 {
    grid-template-columns: 1fr;
    grid-template-rows: 1fr 1fr 1fr;
    grid-template-areas: "header-contacto" "section-uno" "section-dos";
  }
  .mapa {
    height: 0.5px;
    width: 100px;
  }
}
.py-5 {
  background-image: linear-gradient(to top, #c1dfc4 0%, #deecdd 100%);
}

.card-img-top {
  height: 250px;
  width: 355px;
}

.btn {
  background-color: rgb(30, 95, 84);
  color: white;
  justify-content: center;
}

.btn:hover {
  background: rgb(143, 11, 11);
  color: white;
  font-weight: bold;
}

.navbar-brand {
  font-weight: bold;
}

.carousel-item {
  height: 300px;
  width: 500px;
}

.carousel-item-active {
  height: 300px;
  width: 500px;
}

.card-title {
  font-weight: bold;
}

.btn-primary {
  font-weight: bold;
}

.tituloinicial {
  background-color: rgba(255, 255, 255, 0.801);
  padding-top: 5px;
}

.textoinicial {
  color: red;
  justify-content: lefts;
}

.promociones, .nosotros, .destinos, .contacto {
  background-color: rgb(30, 95, 84);
  color: white;
  border-radius: 10px;
  justify-content: center;
  box-shadow: 2px 2px 5px rgb(75, 73, 73);
}

.nosotros2 {
  background-color: rgb(30, 95, 84);
  color: white;
  border-radius: 10px;
  box-shadow: 2px 2px 5px rgb(75, 73, 73);
}

.nosotrostexto {
  font-family: roboto;
  text-align: justify;
  font-size: 16px;
}

.nosotrospunto {
  letter-spacing: px;
  font-family: roboto;
  font-size: 16px;
}

.nosotrostitulo {
  font-weight: bold;
}

.img-fluid {
  box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.452);
  border: solid rgba(3, 133, 255, 0) 2px;
}

.promocionescard {
  width: 100%;
  display: flex;
  gap: 80px;
  flex-wrap: wrap;
  justify-content: center;
}

.promocionescardperfil1, .promocionescardperfil2, .promocionescardperfil3, .promocionescardperfil4, .promocionescardperfil5, .promocionescardperfil6 {
  width: 400px;
  padding: 20px;
  box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.452);
  border: solid rgba(3, 133, 255, 0) 2px;
  border-radius: 10px;
  font-family: roboto;
  font-family: 20px;
  background: linear-gradient(to bottom, rgb(30, 95, 84) 0%, rgb(255, 255, 255) 50%);
}

.promocionescardperfil1, .promocionescardperfil2 {
  animation: scale-up-center 0.4s cubic-bezier(0.39, 0.575, 0.565, 1) both;
}
@keyframes scale-up-center {
  0% {
    transform: scale(0.5);
  }
  100% {
    transform: scale(1);
  }
}
.promocionescardperfil3, .promocionescardperfil4 {
  animation: scale-up-center 0.7s cubic-bezier(0.39, 0.575, 0.565, 1) both;
}

.promocionescardperfil5, .promocionescardperfil6 {
  animation: scale-up-center 1s cubic-bezier(0.39, 0.575, 0.565, 1) both;
}

.promocionesfoto {
  width: 250px;
  border-radius: 3%;
  box-shadow: 2px 2px 5px rgb(216, 216, 216);
}

.promocionescardnombre {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 5px;
  font-family: roboto;
  font-size: 20px;
}

.promocionescardtitulo {
  padding-bottom: 0;
}

.promocionescarddescription1 {
  font-weight: bold;
  font-size: 16px;
}

hr {
  width: 100%;
  height: 1px;
  background: rgb(221, 221, 221);
  margin: 20px 5px;
}

.promocionescardbutton {
  text-align: center;
}

.promocionesenlace {
  background: rgb(15, 73, 160);
  padding: 8px 20px;
  color: white;
  text-decoration: none;
  font-family: roboto, bold;
}

.hero {
  background-image: url("../img/piramides.jpg");
  height: 92vh;
  background-size: cover;
  background-position: center;
  display: flex;
}

.cuadros {
  display: grid;
  height: 92vh;
  width: 100%;
  grid-template-columns: 1fr 1.5fr;
  grid-template-rows: 1fr;
  grid-template-areas: "hero     hero2";
  -moz-column-gap: 10px;
       column-gap: 10px;
  row-gap: 10px;
}

.cuadroizq {
  background-color: rgba(143, 11, 11, 0.575);
  grid-area: hero;
}

.cuadroder {
  background-color: rgba(30, 95, 84, 0);
  grid-area: hero2;
}

.buscartitulo, .buscartitulos {
  color: white;
  padding: 2rem;
}

.buscartitulos {
  background-color: rgb(143, 11, 11);
}

.form {
  min-height: 90vh;
  width: 90%;
  margin: 5px auto;
  display: flex;
  box-sizing: border-box;
  justify-content: center;
}

.form img {
  align-items: center;
}

.formcontainer {
  background-color: rgba(255, 255, 255, 0.781);
  width: 100%;
  max-width: 600px;
  border-radius: 1em;
  padding: 2em 1.2em;
  margin: auto;
  gap: 1em;
  align-self: center;
  grid-auto-columns: 100%;
}

.form__cta {
  font-family: roboto;
  font-size: 1rem;
  background-color: #089FE0;
  color: white;
  border: none;
  font-weight: 300;
  padding: 0.7em 0;
  border-radius: 0.2em;
  cursor: pointer;
  font-weight: 400;
}

.form__title {
  text-align: center;
  font-size: 1.9rem;
  margin-bottom: 0.4em;
}

.forminput--message {
  resize: none;
  padding: 1em 1em;
  margin-bottom: 0.5em;
}

.logoinicio {
  padding-left: 6rem;
  margin: 5px auto;
}

@media (max-width: 768px) {
  .hero {
    background-color: white;
  }
  .cuadros {
    grid-template-columns: 1fr 1.5fr;
    grid-template-rows: 1fr 1fr;
    grid-template-areas: "hero" "hero2";
  }
}
.fotoinicionav {
  width: auto;
  height: 100px;
}/*# sourceMappingURL=style.css.map */