@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;700&family=Roboto:wght@400;500;900&family=Yesteryear&display=swap');

$colorprincipaluno: rgb(31, 97, 86);
$colorprincipaldos: rgb(143, 11, 11);
$colortitulos:  rgb(30, 95, 84);


.py-5{
    background-image: linear-gradient(to top, #c1dfc4 0%, #deecdd 100%);
}
.card-img-top{
    height: 250px;
    width: 355px;;
}

.btn{
    background-color: $colorprincipaluno;
    color: white;
    justify-content: center;

    &:hover{
        background: $colorprincipaldos;
        color: white;
        font-weight: bold;
    }
}

.navbar-brand{
    font-weight: bold;
}

.carousel-item {
    height: 300px;
    width: 500px;

    .carousel-item-active{
        height: 300px;
        width: 500px;
    }
}

.card-title{
    font-weight: bold;
}

.btn-primary{
    font-weight: bold;
}

.promociones, .nosotros, .destinos, .contacto{
    background-color: $colortitulos;
    color: white;
    border-radius: 10px;
    justify-content: center;
    box-shadow: 2px 2px 5px rgb(75, 73, 73)
}
.nosotros2{
    background-color: $colortitulos;
    color: white;
    border-radius: 10px;
    box-shadow: 2px 2px 5px rgb(75, 73, 73)
}

.destinostexto, .destinostitulo{
    font-family: roboto;
    text-align: justify;
}