@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;700&family=Roboto:wght@400;500;900&family=Yesteryear&display=swap');

.nosotrostexto{
    font-family: roboto;
    text-align: justify;
    font-size: 16px;
}
.nosotrospunto{
    letter-spacing: px;
    font-family: roboto;
    font-size: 16px;
}
.nosotrostitulo{
    font-weight: bold;
}

.img-fluid{
    box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.452);
    border: solid rgba(3, 133, 255, 0) 2px;
}